<?xml version='1.0' encoding='UTF-8'?>
<widget id='io.cordova.helloCordova' version='2.0.0' xmlns='http://www.w3.org/ns/widgets'>
    <name>
        HelloCordova
    </name>
    <description>
         A sample Apache Cordova application that responds to the deviceready
        event. 
    </description>
    <author email='dev@cordova.apache.org' href='http://cordova.io'>
         Apache Cordova Team 
    </author>
    <access origin='*'/>
    <preference name='AllowInlineMediaPlayback' value='false'/>
    <preference name='BackupWebStorage' value='cloud'/>
    <preference name='EnableViewportScale' value='false'/>
    <preference name='KeyboardDisplayRequiresUserAction' value='true'/>
    <preference name='MediaPlaybackRequiresUserAction' value='false'/>
    <preference name='SuppressesIncrementalRendering' value='false'/>
    <preference name='SuppressesLongPressGesture' value='false'/>
    <preference name='Suppresses3DTouchGesture' value='false'/>
    <preference name='GapBetweenPages' value='0'/>
    <preference name='PageLength' value='0'/>
    <preference name='PaginationBreakingMode' value='page'/>
    <preference name='PaginationMode' value='unpaginated'/>
    <feature name='LocalStorage'>
        <param name='ios-package' value='CDVLocalStorage'/>
    </feature>
    <feature name='HandleOpenUrl'>
        <param name='ios-package' value='CDVHandleOpenURL'/>
        <param name='onload' value='true'/>
    </feature>
    <feature name='IntentAndNavigationFilter'>
        <param name='ios-package' value='CDVIntentAndNavigationFilter'/>
        <param name='onload' value='true'/>
    </feature>
    <feature name='GestureHandler'>
        <param name='ios-package' value='CDVGestureHandler'/>
        <param name='onload' value='true'/>
    </feature>
    <feature name='SplashScreen'>
        <param name='ios-package' value='CDVSplashScreen'/>
        <param name='onload' value='true'/>
    </feature>
    <preference name='DisallowOverscroll' value='true'/>
    <preference name='android-minSdkVersion' value='25'/>
    
    <!--Android Preferences-->
<preference name="KeepRunning" value="false"/> 

<preference name="LoadUrlTimeoutValue" value="10000"/>

<preference name="SplashScreen" value="mySplash"/>

<preference name="SplashScreenDelay" value="10000"/>

<preference name="InAppBrowserStorageEnabled" value="true"/>

<preference name="LoadingDialog" value="My Title,My Message"/>

<preference name="LoadingPageDialog" value="My Title,My Message"/>

<preference name="ErrorUrl" value="myErrorPage.html"/>

<preference name="ShowTitle" value="true"/>

<preference name="LogLevel" value="VERBOSE"/>

<preference name="SetFullscreen" value="false"/>

<preference name="AndroidLaunchMode" value="singleTop"/>
    
    <allow-navigation href='https://*youtube.com/*'/>
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>
    <content src='index.html'/>
</widget>
